.hm-banner{
    @extend .hm;

    &__left{
        @include center-vertical(485px);
    }

    &__right{
        @include center-vertical(635px);
        right: 0;
    }

    &__img{
        width: 100%;
        display: block;
    }

    &__btn{
        @include btn($r-sm);
        margin-top: 36px;
    }
}