.hm-portfolio{
    @extend .hm;
    height: unset!important;
    background: $bg-secondary;
    padding-top: 60px;
    padding-bottom: 60px;

    .section-title{
        width: 419px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 12px;

        @media only screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    .hm-portfolio__swiper{
        position: relative;
        width: 914px;
    }

    &__swiper{
        
        @media only screen and (max-width: 1060px) {
            width: 70%!important;
        }

        .swiper-container{
            
            @media only screen and (max-width: 1060px) {
                width: 100%;
            }
        }

        .swiper-slide{
    
            height: unset;
            
            .decoration-content{
                position: absolute;
                width: 100%;
                height: 100%;
    
                $size: 20vw;
    
                .decoration-item-1{
                    @extend .decoration-item;
                    height: $size;
                    width: $size;
                    left: 0;
                    top: 0;
                }
                
                .decoration-item-2{
                    @extend .decoration-item;
                    height: $size;
                    width: $size;
                    top: unset;
                    left: unset;
                    right: 0!important;
                    bottom: 0!important;
                }
            }

            img{
                @media only screen and (max-width: 1060px) {
                    width: 90%;
                }
            }
        }
    }
    
    &__next, &__prev{
        @include swiper-nav-triangle(130px);
        margin-top: 0;
        top: calc(50% + 50px);
        transform: translateY(-50%);

        
        @media only screen and (max-width: 1060px) { 
            height: 80px;
            width: 80px;
        }
        
        @media only screen and (max-width: 640px) {
            width: 50px;
            height: 50px;
        }

        &:after{
            visibility: hidden;
        }

        .icon{
            background-size: 30%!important;
            filter: invert(127%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
        }
    }

    &__next{
        background: url(/src/images/icon/ic-triangle-right.svg);

        &:hover{
            .icon{
                left: 55%;
            }
        }

        .icon{
            left: 45%;
        }
    }

    &__prev{
        background: url(/src/images/icon/ic-triangle-left.svg);

        &:hover{
            .icon{
                left: 45%;
            }
        }

        .icon{
            left: 55%;
        }
    }

}