.hm-subscribe{ 
    position: relative;
    display: block;
    background: $bg-secondary;
    padding-top: 58px;
    padding-bottom: 58px;

    &__container{
        @extend .container-large;
        width: 1000px;
        padding: 40px 90px;
        background-color: #ffffff;
        border-radius: $r-md;

        
        @media only screen and (max-width: 1290px) {
            width: calc(80 * 1000px / 100);
            padding: 26px 45px;
        }
        
        @media only screen and (max-width: 640px) {
            padding: 32px 32px;
            border-radius: $r-sm;
        }
    }

    &__title{
        @extend .text-regular;
        font-weight: 600;
        color: $grey;

        strong{
            color: $primary;
        }

        @media only screen and (max-width: 640px) {
            text-align: center;
        }
    }

    &__form{
        margin-top: 16px;

        &--container{
            height: 50px;
            display: flex;

            @media only screen and (max-width: 640px) {
                flex-wrap: wrap;
                height: unset;
                align-content: center;
            }
        }

        &--input{
            display: inline-block;
            width: calc(100% - 175px)!important;
            margin-right: 15px;
            height: 100%;
            outline: none;
            background: $white;
            border-radius: $r-md;
            border: 1px solid #C4C4C4;
            padding: 11px 30px;
            font-size: $text-tiny;
            font-weight: 600;
            color: #646464;

            @include placeholder(#c4c4c4);

            &:focus{
                border-radius: $r-md;
                border: 1px solid $primary;
            }

            
            @media only screen and (max-width: 640px) {
                width: 100%!important;
                border-radius: $r-sm;
            }
        }

        &--btn{
            @include btn($r-md);
            width: 160px;

            @media only screen and (max-width: 640px) {
                width: unset;
                margin: 16px auto 0 auto;
                border-radius: $r-sm;
            }
        }
    }
}