*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.4;
}

body {
  display: block;
  font-family: "Rubix", sans-serif;
  overflow-y: scroll;

  @media only screen and (max-width: 1060px){
    width: 1000px;
  }
}

.container-large {
  max-width: 1260px;
  margin: auto;
  position: relative;
  height: 100%;

  @media only screen and (max-width: 1290px) {
    max-width: 90%;
  }
}

.decoration-item{
  background-position: center left;
  background-color: rgba(0,96,255,0.1);
  height: 669px;
  width: 669px;
  border-radius: 50%;
  position: absolute;
  top: calc(100vh - 420px);
  left: -80px;
}

@mixin center-vertical($width) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: $width;
}

.section-title{
  font-size: $text-title;
  font-weight: 600;
  color: #000000;
}

.text-regular{
  font-size: $text-regular;
  line-height: 1.56;
  color: #3E3C3C;

  &__secondary{
    @extend .text-regular;
    color: #6B6B6B;
  }

  &__primary{
    @extend .text-regular;
    color: $primary;
  }

  &__primary .hover{
    @extend .text-regular__primary;

    &:hover{
      color: $primary-hover;
    }
  }

  &__bold{
    @extend .text-regular;
    color: #000000;
    font-weight: 600;
  }
}

.hover{
  cursor: pointer;
}

@mixin btn($radius){
  background: $primary;
  border: none;
  border-radius: $radius;
  box-shadow: 1px 2px 15px rgba(0,0,0,0.08);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  padding: 12px 24px;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover{
    background: $primary-hover;
  }
}

.a {
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover{
    color: $primary-hover;
    margin-top: 2px;
    margin-left: 1px;
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }  
}

.icon{
  width: 40%;
  height: 40%;
  background-size: 50% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;

  &-right{
    background: url(/src/images/icon/ic-right.svg);
  }

  &-left{
    background: url(/src/images/icon/ic-left.svg);
  }

  &:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
}


.swiper-slide{
  position: relative;

  &__img{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.swiper-button-next, .swiper-button-prev{
  outline: none;
}


@mixin swiper-nav($size) {
  height: $size;
  width: $size;
  background-color: #017bfe00;
  border-radius: $r-sm;
  transition: 0.3s ease-in-out;

  &:after{
    display: none;
  }

  &:hover{
    background-color: $primary;

    .icon{
      filter: invert(127%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }
}

@mixin swiper-nav-triangle($size) {
  height: $size;
  width: $size;
  background-size: 60% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transition: 0.3s ease-in-out;

  &:after{
    visibility: hidden;
  }

  &:hover{
    //filter: invert(27%) sepia(51%) saturate(10%) hue-rotate(346deg) brightness(104%) contrast(97%);

    .icon{
      filter: invert(127%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }
}
