.hm-testimonials{
    @extend .hm;
    height: (388px + 66px)!important;
    background: $bg-secondary;
    padding-top: 66px;

    
    @media only screen and (max-width: 1290px) {
        height: unset!important;
        padding-bottom: 20px;
    }

    &__title{
        width: 100%;
        margin-bottom: 56px;

        h1, p{
            width: 379px;
            text-align: center;
            margin: 0 auto;
        }

        h1{
            padding-top: 8px;
        }
    }

    &__next, &__prev{
        @include swiper-nav(50px);
    }

    &__swiper{
        position: relative;
        width: 1000px;

        .testimonial{
        
            p{
                margin-bottom: 56px;
                text-align: center;
            }

            &-user{
                display: flex;
                height: 72px;
                justify-content: center;

                &__img{
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: $r-sm;
                    height: 70px;
                    width: 70px;
                }

                &__text{

                    margin-left: 22px;
                    
                    .text-name{
                        @extend .text-regular__bold;
                        color: $primary;
                    }

                    .text-company{
                        @extend .text-regular;
                        font-size: $text-normal;
                        text-align: start;
                    }
                }
            }
        }

        
        @media only screen and (max-width: 1290px) {
            width: calc(100% - 200px);
        }
    }

}