$bg: #fefefe;
$bg-secondary: #fafafa;
$white: #ffffff;
$primary: #017CFE;
$primary-hover: #0361c5;
$secondary: #0D257B;
$orange: #FEA929;
$red: #E64C3C;
$grey: #B7B7B7;

$text-title: 44px;
$text-title-sm: 32px;
$text-regular: 22px;
$text-normal: 18px;
$text-tiny: 14px;

$r-sm: 10px;
$r-md: 30px;

$t3-right: -90deg;
$t3-left: -90deg;
