@import '../../node_modules/swiper/css/swiper.css';
@import "variables";
@import "template";
@import "header";
@import "banner";
@import "about";
@import "portfolio";
@import "clients";
@import "testimonials";
@import "subscribe";
@import "footer";

.hm{
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
}

.love{
  display: inline-block;
  height: auto;
  margin: 0 5px;
  width: 20px;
}